@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wzayux');
  src:  url('fonts/icomoon.eot?wzayux#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wzayux') format('truetype'),
    url('fonts/icomoon.woff?wzayux') format('woff'),
    url('fonts/icomoon.svg?wzayux#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrows-drag:before {
  content: "\e903";
  color: #efa8bc;
}
.icon-arrows-drag-hover:before {
  content: "\e904";
  color: #efa8bc;
}
.icon-arrows-filtering:before {
  content: "\e905";
}
.icon-arrows-filtering-hover:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-circle:before {
  content: "\e909";
  color: #a02b2b;
}
.icon-expand:before {
  content: "\e90a";
}
.icon-logo:before {
  content: "\e90b";
  color: #fff;
}
.icon-share:before {
  content: "\e90c";
}
.icon-social-facebook:before {
  content: "\e90d";
}
.icon-social-imdb:before {
  content: "\e90e";
}
.icon-social-instagram:before {
  content: "\e90f";
}
.icon-social-linkedin:before {
  content: "\e910";
}
.icon-social-vimeo:before {
  content: "\e911";
}
.icon-video-pause:before {
  content: "\e912";
}
.icon-video-play:before {
  content: "\e913";
}
.icon-x:before {
  content: "\e914";
}
