footer {
  height: 337px;
  width: 50%;
  @media screen and (max-width: 964px) {
    width: 100%;
  }
  background-color: $yellow;
  padding: 35px 39px;
  margin-left: auto;
  position: relative;
  @media screen and (max-width: 499px) {
    padding: 15px 10px;
  }
  > h3 {
    font-size: 40px;
    margin-top: 3px;
    font-weight: 700;
    @media screen and (max-width: 499px) {
      font-size: 28px;
    }
  }
  > .email {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: normal;
    @media screen and (max-width: 499px) {
      font-size: 15px;
    }
  }

  .scroll-to-top {
    position: absolute;
    right: 39px;
    top: 35px;
    @media screen and (max-width: 499px) {
      right: 10px;
      top: 15px;
    }
    cursor: pointer;
    display: inline-block;
    > object {
      pointer-events: none;
    }
  }
  > .cta {
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    width: 222px;
    display: block;
    color: black;
    line-height: 33px;
    margin-top: 44px;
    &:hover,
    &:active,
    &:focus {
      color: black;
    }
    > span {
      display: inline-block;
      line-height: 1;
      border-bottom: 1px solid black;
    }
    @media screen and (max-width: 1374px) {
      margin-top: 24px;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 964px) {
      margin-top: 44px;
      margin-bottom: 0;
    }
    @media screen and (max-width: 687px) {
      margin-top: 24px;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 499px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      font-size: 20px;
      margin-top: 64px;
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  right: 39px;
  bottom: 34px;
  left: 39px;
  @media screen and (max-width: 499px) {
    left: 10px;
    right: 10px;
    bottom: 15px;
  }
}

.social {
  display: flex;
  @media screen and (max-width: 1374px) {
    padding: 10px 0;
  }
  @media screen and (max-width: 964px) {
    padding: 0;
  }
  @media screen and (max-width: 687px) {
    padding: 10px 0;
  }
  @media screen and (max-width: 499px) {
    width: 100%;
    justify-content: center;
  }
}

.social__link {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  > object {
    position: relative;
    pointer-events: none;
  }
  &:not(:last-of-type) {
    margin-right: 5px;
  }
  &:nth-of-type(1) {
    > object {
      // linkedin logo appears centered when off
      bottom: 2px;
      left: 1px;
    }
  }
}

.footer__legal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  @media screen and (max-width: 1374px) {
    margin-left: 0;
    margin-right: 20px;
  }
  @media screen and (max-width: 964px) {
    margin-right: 0;
    margin-left: 20px;
  }
  @media screen and (max-width: 687px) {
    margin-right: 20px;
    margin-left: 0px;
  }
  @media screen and (max-width: 499px) {
    margin: 0;
    align-items: center;
    width: 100%;
  }
}

.footer__terms {
  width: 307px;
  display: flex;
  justify-content: space-between;
  > a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    @media screen and (max-width: 499px) {
      font-size: 12px;
    }
    font-weight: 500;
    display: inline-block;
    &:hover,
    &:visited,
    &:active {
      text-decoration: none;
    }
  }
}

.copyright {
  font-size: 17px;
  @media screen and (max-width: 499px) {
    font-size: 14px;
  }
}
