footer {
  height: 337px;
  width: 100vw;
  @include media(desktop) {
    width: 50vw;
  }
  background-color: $yellow;
  padding: 35px 39px;
  @include media(mobile) {
    // width: 100vw;
    padding: 15px 15px;
  }
  margin-left: auto;
  position: relative;
  > h3 {
    margin-top: 3px;
    font-size: 40px;
    font-weight: 700;
    @include media(mobile) {
      font-size: 28px;
      display: inline-block;
    }
  }
  > .email {
    font-size: 17px;
    text-transform: uppercase;
    @include media(mobile) {
      font-size: 15px;
      display: inherit;
    }
  }

  .scroll-to-top {
    position: absolute;
    right: 39px;
    top: 35px;
    @include media(mobile) {
      right: 15px;
      top: 15px;
    }
    cursor: pointer;
    display: inline-block;
    > object {
      pointer-events: none;
      @include media(mobile) {
        width: 30px;
      }
    }
  }
  > .cta {
    font-size: 25px;
    font-weight: 700;
    // display: flex;
    // flex-direction: column;1
    text-decoration: none;
    width: 222px;
    display: block;
    color: black;
    line-height: 33px;
    margin-top: 44px;
    &:hover,
    &:active,
    &:focus {
      color: black;
    }
    > span {
      display: inline-block;
      line-height: 1;
      border-bottom: 1px solid black;
    }
    @include media(mobile) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 23px;
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  right: 39px;
  bottom: 34px;
  left: 39px;
  @media only screen and (max-width: 1390px) {
    flex-direction: column;
  }
  @include media(mobile) {
    right: 20px;
    left: 20px;
    bottom: 25px;
    justify-content: center;
  }
}

.social {
  display: flex;
  @include media(mobile) {
    justify-content: center;
  }
}

.social__link {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media(mobile) {
    margin-bottom: 10px;
  }
  > object {
    position: relative;
    pointer-events: none;
  }
  &:not(:last-of-type) {
    margin-right: 5px;
  }
  &:nth-of-type(1) {
    > object {
      // linked-in logo appears centered when off
      bottom: 2px;
      left: 1px;
    }
  }
}

.footer__legal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  @include media(mobile) {
    width: 100%;
    margin-left: 0;
  }
}

.footer__terms {
  width: 307px;
  display: flex;
  justify-content: space-between;
  @include media(mobile) {
    width: 100%;
    justify-content: center;
  }
  > a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    @include media(mobile) {
      font-size: 13px;
      &:nth-of-type(1) {
        margin-right: 5px;
      }
      &:nth-of-type(2) {
        margin-left: 5px;
      }
    }
    display: inline-block;
    &:hover,
    &:visited,
    &:active {
      text-decoration: none;
    }
  }
}

.copyright {
  font-size: 17px;
  @include media(mobile) {
    font-size: 13px;
    text-align: center;
  }
}
