/*
*   Introduction
*/

.intro {
  height: 100vh;
  width: 100%;
  background-color: $gray;
  position: relative;
  overflow: hidden;
  > .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;

    > .icon-x {
      position: absolute;
      color: white;
      top: 40px;
      left: 50%;
      font-size: 51px;
      @include media(mobile) {
        font-size: 40px;
        top: 21px;
      }
      transform: translateX(-50%);
      cursor: pointer;
      z-index: 10;
      opacity: 0;
      &:hover {
        color: $yellow;
      }
    }
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
    }
  }
}

.video-text-scroll {
  @include grid;
  position: absolute;
  text-align: center;
  bottom: 0;
  transform: translateY(100%);
  > h1 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 400;
    line-height: 70px;
    grid-column: 3 / 11;
  }
  > p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    grid-column: 4 / 10;
  }
  @include media(mobile) {
    grid-gap: 5px;
    column-gap: 5px;
    > h1 {
      font-size: 40px;
      line-height: 55px;
      grid-column: 1 / -1;
    }
    > p {
      font-size: 18px;
      line-height: 33px;
      grid-column: 2 / 12;
    }
  }
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 124px;
  @include media(mobile) {
    height: 62px;
  }
  width: 100%;
  background-color: black;
  transform: translateX(-100%);
  &.hide {
    display: none;
  }
  > a {
    cursor: pointer;
    color: $yellow;
    &:after {
      background-color: $yellow;
    }
    &:hover {
      color: white;
      &:after {
        background-color: white;
      }
    }
  }
  > .expand {
    display: inline-block;
    height: 26px;
    position: absolute;
    top: 48px;
    @include media(mobile) {
      top: 18px;
    }
    left: 50%;
    transform: translateX(-50%);
    // color: $yellow;
    > i {
      font-size: 26px;
      color: inherit;
      line-height: 1;
    }
  }
  > .scroll-down {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 17px;
    position: absolute;
    right: 58px;
    top: 52px;
    @include media(mobile) {
      top: 19px;
      right: 15px;
      font-size: 15px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      bottom: 0px;
    }
  }
}

/*
*
*  portfolio
*
*/

.portfolio {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.portfolio__slider {
  width: 100%;
  display: block;
  @include cursor;
}

.portfolio__track {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  transform: translateX(18%);
}

.portfolio__item {
  display: inline-block;
}

.project-card-container {
  position: relative;
  display: inline-block;
  text-decoration: none;
  @include cursor;
  > a {
    position: absolute;
    text-decoration: none;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    bottom: -67px;
    @include media(mobile) {
      bottom: -38px;
    }
    &:active,
    &:hover {
      text-decoration: none;
    }
    > h4 {
      color: white;
      font-size: 55px;
      font-weight: 400;
      line-height: 70px;
      max-width: 100vw;
      width: 750px;
      text-align: center;
      overflow: hidden;
      @include media(mobile) {
        font-size: 30px;
        line-height: 1;
      }
      > span {
        display: inline-block;
        transform: translateY(100%);
        transition: transform 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
    > .client {
      margin-top: 20px;
      color: white;
      text-transform: uppercase;
      font-size: 17px;
      @include media(mobile) {
        font-size: 14px;
        margin-top: 10px;
      }
      font-weight: 700;
      width: 100%;
      text-align: center;
      overflow: hidden;
      > span {
        display: inline-block;
        transform: translateY(100%);
        transition: transform 0.7s 0.2s ease-in-out;
      }
    }
  }

  .project-card {
    position: relative;
    display: inline-block;
    > canvas {
      position: relative;
      max-width: 95vw;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: black;
      opacity: 0;
    }
    > span {
      display: none;
    }
  }
  &:hover {
    > .project-card {
      &:after {
        opacity: 0.3;
      }
    }
    > a {
      > h4,
      > .client {
        color: $yellow;
      }
    }
  }
}

.swiper-slide-active {
  > .project-card-container {
    > a {
      > h4,
      > .client {
        > span {
          transform: translateY(0%);
        }
      }
    }
  }
}

.counter {
  width: 108px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 59px;
  bottom: 64px;
  @include media(mobile) {
    left: 15px;
  }
  > span {
    display: inline-block;
    color: #fbee30;
  }
}

.counter__track {
  background: linear-gradient(to right, #fbee30 20%, #3b3b3b 20%);
  width: 50px;
  height: 1px;
}

[class^="counter__s"] {
  font-size: 17px;
  font-weight: 500;
  @include media(mobile) {
    font-size: 15px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  > .content {
    padding-top: 56px;
    @include grid;
    > img {
      grid-column: 2 / 6;
    }
  }
}

.about__text {
  grid-column: 6 / 12;
  margin-top: 78px;
  margin-bottom: 86px;
  max-width: 728px;
  line-height: 70px;
  > .is-huge {
    font-size: 95px;
    font-weight: 700;
    text-transform: uppercase;
    color: $yellow;
  }
  > .about__text__content {
    margin-top: 36px;
    color: $yellow;
    font-size: 55px;
    > strong > em {
      font-weight: 600;
      font-style: italic;
    }
    > span {
      color: white;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  margin-top: 310px;
  margin-bottom: 240px;
  > .content {
    ul {
      margin-bottom: 148px;
      font-size: 110px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        text-decoration: none;
        color: $graphite;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px $yellow;
      }
    }
  }
}

.more {
  font-size: 17px;
  font-weight: 500;
  color: $yellow;
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
  padding-left: 60px;
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
    outline: 0;
  }
  > span:not(.more__label) {
    color: $yellow;
    font-size: 41px;
    position: absolute;
    left: 0px;
    bottom: 50%;
    transform: translateY(50%);
  }
  > .more__label {
    border-bottom: 1px solid;
    line-height: 0.9;
    display: inline-block;
  }
}
