* {
  margin: 0;
  box-sizing: border-box;
  backface-visibility: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
}
body.main {
  overflow: auto;
  @include grid;
}

body.fullscreen {
  overflow: hidden;
}
