$border-color: rgba(255, 255, 255, 0.3);
$gray: #666666;
$header-scrolled: #333333;
$about-bg: #e2e0e0;
$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto Condensed", sans-serif;

$mobile-breakpoint: 1023px;
